.aboutuscontent{
  margin:40px 110px 110px 110px;
}
.headingaboutus{
  margin: 0px;
  padding: 3px;
  background: rgba(255,119,0,0.9);
}
#heading{
  margin: 1px 40px;
}
body{
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  width: 100%;
}
